<div>
    <h1>My Quotes</h1>
    <hr>
    <ul *ngFor='let quote of quotes'>
        <li appHighlight>
           <span>{{quote.id}}</span> 
          <span>{{quote.name}}</span>
          <span>{{quote.title}}</span>
          <span>{{quote.quote}}</span>
          <span>{{quote.author}}</span>
          <span>{{quote.datePosted}}</span>
          <span class="btn-primary ml-3"> Upvotes{{quote.likes}}</span>
          <span class="btn-danger ml-3"> Downvotes{{quote.dislike}}</span>
        </li>
    </ul>
  </div>