<div>
    <h1>My Quotes</h1>
    <hr>
    <ul *ngFor='let quote of quotes'>
      <div *ngIf = 'quote.id ==1; then highlight else empty'></div>
      <ng-template #highlight>
        <li appHighlight>
          <!-- <span>{{quote.id}}</span>  -->
         <span>{{quote.name}}</span>
         <span>{{quote.title}}</span>
         <span>{{quote.quote}}</span>
         <span>{{quote.author}}</span>
         <span>{{quote.datePosted}}</span>
         <span class="btn btn-sm btn-primary ml-3"> Upvotes{{quote.likes}}</span>
         <span class="btn btn-sm btn-danger ml-3"> Downvotes{{quote.dislike}}</span>
       </li>
      </ng-template>
      <ng-template #empty>
        <li>
          <!-- <span>{{quote.id}}</span>  -->
         <span>{{quote.name}}</span>
         <span>{{quote.title}}</span>
         <span>{{quote.quote}}</span>
         <span>{{quote.author}}</span>
         <span>{{quote.datePosted}}</span>
         <span class=" btn btn-sm btn-primary ml-3"> Upvotes{{quote.likes}}</span>
         <span class=" btn btn-sm btn-danger ml-3"> Downvotes{{quote.dislike}}</span>
       </li>
      </ng-template>
 
    </ul>
  </div>